.edit-container {
    width: 420px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

    .edit-container h2 {
        text-align: center;
        color: #ff1493;
        margin-bottom: 20px;
    }

    .edit-container label {
        display: block;
        margin-top: 12px;
        font-weight: 600;
        color: #d63384;
    }

    .edit-container input,
    .edit-container textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border-radius: 8px;
        border: 1px solid #eee;
        background: #fff5f9;
    }

.save-btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #ff1493;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

    .save-btn:hover {
        background: #d63384;
    }
