/* ===== REGISTER PAGE ONLY ===== */

.register-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 👈 important */
    padding: 80px 0;
    background-color: #f5f6fa;
}

.login-card {
    width: 420px;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

    .login-card h3 {
        text-align: center;
        margin-bottom: 25px;
    }

    .login-card label {
        display: block;
        margin-top: 12px;
        font-weight: 500;
    }

    .login-card input {
        width: 100%;
        padding: 10px;
        margin-top: 6px;
        border-radius: 6px;
        border: 1px solid #ccc;
    }

.login-btn {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    border: none;
    background: #ff2f6d;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
