.edit-profile-section {
    padding: 40px 10%;
    background: #fff5f9;
    min-height: 80vh;
}

    .edit-profile-section h2 {
        text-align: center;
        color: #d63384;
        margin-bottom: 30px;
    }

/* Card */

.edit-card {
    max-width: 450px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

/* Inputs */

.form-group {
    margin-bottom: 18px;
}

    .form-group label {
        display: block;
        font-weight: 600;
        color: #ff1493;
        margin-bottom: 6px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #eee;
        font-size: 14px;
        outline: none;
    }

        .form-group input:focus,
        .form-group textarea:focus {
            border-color: #ff1493;
        }


/* Button */

.save-btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border: none;
    background: linear-gradient(90deg,#ff1493,#ff4da6);
    color: white;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

    .save-btn:hover {
        opacity: 0.9;
    }
