@{
    ViewData["Title"] = "Order Success";
}

<link rel="stylesheet" href="~/css/orderSuccess.css" />

<section class="success-section">

    <h2 class="success-heading">Order Success</h2>

    <div class="success-card">

        <!-- Shopping Image (YOU WILL ADD IMAGE) -->
        <img src="~/images/shopping.png" class="success-img" />

        <h3 class="order-text">Order Placed Successfully</h3>

        <p class="thank-text">
            Thank you for shopping with <b>PinkLeaf</b> ❤️
            <br /><br />
            Your order has been successfully placed.
            <br /><br />
            <span class="delivery">
                Estimated Delivery: 3-5 working days
            </span>
        </p>

        <a href="/UserHome/Retail" class="continue-btn">
            Continue Shopping
        </a>

    </div>

</section>
