/* ===== REGISTER PAGE ONLY ===== */

.register-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 👈 important */
    padding: 40px 0;
    background-color: #f5f6fa;
}

.login-card {
    width: 420px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

    .login-card h3 {
        text-align: center;
        margin-bottom: 25px;
    }

    .login-card label {
        width: 95%;
        margin: 8px auto 0;
        display: block;
        font-weight: 500;
    }


    .login-card input {
        width: 90%; /* 👈 yaha se sab fields chhoti hongi */
        padding: 11px;
        margin: 6px auto; /* 👈 center alignment */
        display: block; /* 👈 important */
        border-radius: 6px;
        border: 1px solid #ccc;
    }



.login-btn {
    width: 100%;
    margin-top: 19px;
    padding: 10px;
    border: none;
    background: #ff2f6d;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
