<div class="admin-sidebar">
    <ul>
        <li class="active">
            <i class="fas fa-tachometer-alt"></i>
            <a asp-controller="Admin" asp-action="AdminDashboard">Dashboard</a>
        </li>

        <li>
            <i class="fas fa-tags"></i>
            <a asp-controller="Admin" asp-action="Categories">Categories</a>
        </li>

        <li>
            <i class="fas fa-box"></i>
            <a asp-controller="Admin" asp-action="Products">Products</a>
        </li>

        <li>
            <i class="fas fa-list"></i>
            <a asp-controller="Admin" asp-action="ProductList">Product List</a>
        </li>

        <li>
            <i class="fas fa-users"></i>
            <a asp-controller="Admin" asp-action="Wholesale">Wholesale Request</a>
        </li>
    </ul>
</div>