<div class="admin-topbar">

    <div class="topbar-left">
        <img src="~/images/logo.jpeg" alt="logo" class="admin-logo-img" />
            <h2>Admin Dashboard</h2>
    </div>

    <div class="topbar-right">
        <a asp-controller="Admin" asp-action="Profile" class="admin-user-icon">
            <i class="fas fa-user"></i>
        </a>

        <a asp-controller="Account" asp-action="Logout" class="logout-btn">
            LogOut
        </a>
    </div>

</div>