@{
    ViewData["Title"] = "Add Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Products</h2>

<form class="product-form">

    <div class="form-group">
        <label>Product Name</label>
        <input type="text" placeholder="Enter Product Name" />
    </div>

    <div class="form-group">
        <label>Category</label>
        <select>
            <option>T-shirt</option>
            <option>Jeans</option>
            <option>Kurti</option>
        </select>
    </div>

    <div class="form-group">
        <label>Price</label>
        <input type="number" value="499" />
    </div>

    <div class="form-group">
        <label>Sizes</label>
        <div class="sizes">
            <label><input type="checkbox" /> S</label>
            <label><input type="checkbox" /> M</label>
            <label><input type="checkbox" /> L</label>
            <label><input type="checkbox" checked /> XL</label>
            <label><input type="checkbox" /> XXL</label>
        </div>
    </div>

    <div class="form-group">
        <label>Upload Image</label>
        <div class="upload-box">
            <i class="fa fa-camera"></i>
            <p>Upload Image</p>
        </div>
    </div>

    <button type="submit" class="add-btn">Add Products</button>

</form>