
@{
    ViewData["Title"] = "Wholesale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="page-title">Wholesale Request</h2>

<div class="request-card">

    <table class="request-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Email</th>
                <th>Number</th>
                <th>City</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Rajesh Maheta</td>
                <td>Mehta Traders</td>
                <td>rajesh@gmail.com</td>
                <td>8238945773</td>
                <td>Rajkot</td>
                <td class="action-cell">
                    <button class="approve-btn">Approve</button>
                    <button class="reject-btn">Reject</button>
                </td>
            </tr>

            <tr>
                <td>Pooja Shah</td>
                <td>Shah Enterprise</td>
                <td>pooja@gmail.com</td>
                <td>6354959315</td>
                <td>Delhi</td>
                <td class="action-cell">
                    <button class="approve-btn">Approve</button>
                    <button class="reject-btn">Reject</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

